header {
    background-color: #43ed2d;
    margin: 0 auto;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px 0 10px 0;
    text-align: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}