<div class="character-detail">
    @if (character().id) {
    <div class="character-info">
        <img src="{{ character().image }}" alt="{{ character().name }}" />
        <h2>{{ character().name }}</h2>
        <p><strong>Especie:</strong> {{ character().species }}</p>
        <p><strong>Género:</strong> {{ character().gender }}</p>
        <p><strong>Estado:</strong> {{ character().status }}</p>
        <p><strong>Tipo:</strong> {{ character().type || 'Desconocido' }}</p>
        <p><strong>Origen:</strong> {{ character().origin.name }}</p>
        <p id="location" [routerLink]="['/location', character().location.id]"><strong>Ubicación:</strong> {{
            character().location.name }}</p>
        <p><strong>Creado:</strong> {{ character().created }}</p>
    </div>
    <div class="episodes">
        <p><strong>Episodios:</strong></p>
        <ul>
            @for (ep of character().episode; track ep) {
            <li [routerLink]="['/episode', ep.split('/').pop()]"
                style="cursor: pointer; color: blue; text-decoration: underline;">Episodio
                {{ep.split('/').pop()}}</li>
            }
        </ul>
    </div>
    <button (click)="goBack()">Go Back</button>
    }@else {
    <p>El personaje no existe o no se pudo cargar.</p>
    }
</div>